name: Update Weather

on:
  schedule: # run workflow automatically
    - cron: '0 */3 * * *' # runs every three hours
  # allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  contents: write # to write the generated contents to the README

jobs:
  build:
    name: Update this repo's README with recent weather
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Pull in weather data
        uses: bumb7ebee/weather-profile-actions@v1.0.0
        with:
          weather-api-key: ${{ secrets.WEATHER_API_KEY }} # secret variable of OpenWeather API KEY
          city-id: 740483 # city id obtained from OpenWeather
          units: c # c (centigrade) or f (fahrenheit)
          country-code: tr # country code obtained from https://flagicons.lipis.dev/
          readme-path: README.md # relative path of the README file. something like: README, README.md, src/README, src/README.md, etc.
